.city {
  fill: var(--good-color);
}

.colorless {
  --good-color: rgb(224, 99, 59);
}

.location.plain {
  fill: #99c37b;
}

:global(.dark-mode) .location.plain {
  fill: darkgreen;
}

.location.river {
  fill: #8eb572;
}

:global(.dark-mode) .location.river {
  fill: darkblue;
}

.location.water {
  fill: #579ba8;
}

.location.hill {
  fill: #537845;
}

:global(.dark-mode) .location.hill {
  fill: #82572c;
}

.location.mountain {
  fill: #867565;
}

:global(.dark-mode) .location.mountain {
  fill: #654321;
}

.location.desert {
  fill: #FFFFCC;
}

:global(.dark-mode) .location.desert {
  fill: #666600;
}

.location.swamp {
  fill: green;
}

.location.unpassable {
  fill: lightgrey;
}

.riverPath {
  stroke: #009bb2;
  stroke-width: 5;
  fill: none;
}
