.hexGrid * {
  pointer-events: none;
}

.hexGrid .clickable {
  pointer-events: inherit;
  cursor: pointer;

  &:hover {
    opacity: 0.8;
  }
}

.hexGridContainer {
  position: relative;
  overflow-x: auto;
  width: 100%;
}

.fabs {
  position: absolute;
  display: flex;
  gap: 4px;
}