.chat {
  background-color: #f0f0f0;
  padding: 1em;
  border-radius: 1em;
}

:global(.dark-mode) .chat {
  background-color: darkgrey;
  color: black;
}
:global(.dark-mode .ui.form) .submitInput input[type="text"] {
  background-color: #5f5f5f;
  color: #e0e0e0;
}

.logContainer {
  position: relative;
}

.logList {
  height: 200px;
  position: relative;
  overflow-y: auto;
}

.logLine {
  margin: 2px;
}

.scrollToBottomContainer {
  position: absolute;
  bottom: 8px;
  left: 8px;
}

.loadMoreButton {
  width: 100%;
  text-align: center;
}

.submitForm {
  margin-top: 0.5em;
  display: flex;
  flex-direction: row;
}

.time {
  opacity: 0.7;
}

.username {
  font-weight: bold;
}

.submitInput {
  flex: 1;
}
