.playerStats {
  overflow-y: auto;
}

.tableRow td,
.tableRow th {
  padding: 8px;
  white-space: nowrap;
  text-align: left;
  vertical-align: top;
}

.collapsed {
  display: none;
}

@media (max-width: 800px) {
  .collapsed {
    display: table-cell;
  }

  .expanded {
    display: none;
  }
}

.user.red svg {
  fill: red;
}

.user.blue svg {
  fill: blue;
}

.user.green svg {
  fill: green;
}

.user.purple svg {
  fill: purple;
}

.user.yellow svg {
  fill: yellow;
}

.user.black svg {
  fill: black;
}

.user.brown svg {
  fill: brown;
}