html {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto;
  height: 100%;
  background-color: rgba(246, 247, 248, 0.5);
}

#root {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

body.dark-mode {
  background-color: inherit;
}

.ui.accordion.menu .item .title {
  font-size: 1.1em;
}
.ui.accordion.menu .item .active.title {
  margin-bottom: 1em;
}

/* Dark mode semantic-ui components, with styling copied from the default "inverted" components. */
body.dark-mode,
body.dark-mode .ui.header {
  color: #fff;
}
body.dark-mode .ui.segment {
  background: #1b1c1d;
  color: rgba(255, 255, 255, 0.9);
  border: 1px solid rgba(221, 219, 217, 0.85);
}
body.dark-mode .ui.form .field > label {
  color: rgba(255, 255, 255, 0.9);
}
body.dark-mode .ui.toggle.checkbox input ~ label {
  color: rgba(255, 255, 255, 0.9);
}
body.dark-mode .ui.toggle.checkbox input:checked ~ label {
  color: rgba(255, 255, 255, 0.9) !important;
}
body.dark-mode .ui.card,
body.dark-mode .ui.cards > .card {
  background: #000000;
  color: rgba(255, 255, 255, 0.9);
  box-shadow:
    0 1px 3px 0 #2b2b2a,
    0 0 0 1px #2b2b2a;
}
body.dark-mode .ui.card > .content > .header,
body.dark-mode .ui.cards > .card > .content > .header {
  color: rgba(255, 255, 255, 0.85);
}
body.dark-mode .ui.card .meta,
.ui.cards > body.dark-mode .card .meta {
  color: rgba(255, 255, 255, 0.4);
}
body.dark-mode .ui.accordion .title:not(.ui) {
  color: rgba(255, 255, 255, 0.9);
}
body.dark-mode .ui.vertical.menu.accordion {
  background: #000000;
}
body.dark-mode .ui.menu.accordion .item {
  color: rgba(255, 255, 255, 0.9);
}
body.dark-mode .ui.checkbox label, body.dark-mode .ui.checkbox + label {
  color: rgba(255, 255, 255, 0.9) !important;
}
body.dark-mode .ui.form .inline.field > label,
body.dark-mode .ui.form .inline.field > p,
body.dark-mode .ui.form .inline.fields .field > label,
body.dark-mode .ui.form .inline.fields .field > p,
body.dark-mode .ui.form .inline.fields > label {
  color: rgba(255, 255, 255, 0.9);
}
body.dark-mode .ui.inverted.input > input {
  border: none;
}

/**
 * Disable double-tap to zoom on mobile devices 
 * https://www.reddit.com/r/incremental_games/comments/1b3n60d/easy_disable_doubletap_zoom_on_mobile_browser/
 */
* {
  touch-action: manipulation;
}
